.modal {
    width: 100vw;
    margin: auto;
    position: absolute;
    top: 25%;
}

.modalContent {
    width: 50%;
    margin: auto;
    background-color: #fff;
}

.modalHeader {
    background: rgb(211, 47, 47);
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modalHeader h1 {
    margin: 0;
}

.modalBody {

}

.modalFoot {
    justify-content: right;
    display: flex;
    padding: 10px;
}

.btn {
    width: 135px;
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 600;
}

.backgroundLayer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(33, 33, 33, 0.62);
}